version: '3.7'
services:
  postgres:
    image: postgres:13
    restart: always
    volumes:
      - ./data/db:/var/lib/postgresql/data
      - ./sql/create_tables.sql:/docker-entrypoint-initdb.d/create_tables.sql
      - ./sql/fill_tables.sql:/docker-entrypoint-initdb.d/fill_tables.sql
    ports: 
      - "5432:5432"
    environment:
      POSTGRES_DB: ulvinamazow
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: school_db


app:
    container_name: api
    build: .
    ports:
      - "4444:4444"
    restart: on-failure
    depends_on:
      - postgres
    links:
      - postgres
